.media {
	display: flex;
	gap: var(--spacing-200);

	&__link {
		display: inline-block;
		padding: 0.25em;

		font-size: var(--fz-medium);
		text-decoration: none;

		color: var(--media-link);
		border: 1px solid var(--media-link);
		border-radius: 50%;
		transition: color 0.4s ease, border-color 0.4s ease;

		&:hover {
			--media-link: var(--clr-primary-400);
		}
	}
}
